{
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 120,
  "pugWrapAttributesThreshold": 1,
  "pugSortAttributesBeginning": [
    "^cols$",
    "^key$",
    "^v-else$",
    "^v-for$",
    "^:key$",
    "^v-if$",
    "^v-else-if$",
    "^v-on$",
    "^v-bind$",
    "^ref$",
    "^v-model",
    "^name$",
    "^:.*$",
    "^@.*$"
  ],
  "pugSortAttributesEnd": ["^:?hint$"],
  "pugSortAttributes": "desc"
}
