{
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 120,
  "pugAttributeSeparator": "always",
  "pugWrapAttributesThreshold": 1,
  "pugBracketSpacing": "true",
  "pugSortAttributesBeginning": [
    "^cols$",
    "^key$",
    "^v-else$",
    "^v-for$",
    "^:key$",
    "^v-if$",
    "^v-else-if$",
    "^v-on$",
    "^v-bind$",
    "^ref$",
    "^v-model",
    "^name$",
    "^:.*$",
    "^@.*$"
  ],
  "pugSortAttributesEnd": [
    "^:?hint$",
    "^:?persistent-hint$",
    "^prepend-",
    "^@click:prepend",
    "^append-",
    "^@click:append",
    "^:to$",
    "^exact$",
    "^:(?!(width|height|loading|disabled|data-))",
    "^target$",
    "^:?width$",
    "^:?height$",
    "^@click",
    "^@",
    "^:loading$",
    "^:disabled$",
    "^:?data-"
  ],
  "pugSortAttributes": "asc"
}
